@import "../../../assets/styles/variables.scss";

.cat {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	max-width: 370px;
	height: 610px;
	place-self: center;
	.imgContainer {
		width: 80%;
		height: 68%;
		display: flex;
		align-items: center;
		.cat__img {
			width: 100%;
		}
	}
	a {
		font-weight: 500;
		color: #646cff;
		text-decoration: inherit;
	}
	a:hover {
		color: #535bf2;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
		.cat__LikeBtn {
			box-sizing: border-box;
			border-radius: 50px;
			border: 1px solid transparent;
			padding: 0.5rem;
			cursor: pointer;
			transition: border-color 0.25s;
			width: 15%;
			height: 80%;
		}
		.unliked {
			&:hover {
				border-color: $color_blue;
			}
		}
		.liked {
			background-color: $color_blue;
			&:hover {
				border-color: $color_grey;
			}
		}
		.btn__img {
			width: 100%;
		}
		.cat__DeleteBtn {
			width: 20%;
			border: none;
			background-color: transparent;
			cursor: pointer;
		}
	}
}
